@import url(http://fonts.googleapis.com/css?family=Oswald:300);
html, body {
	height: 100%;
	overflow: hidden;
	background: #f3f5f6;
	font-family: 'Oswald', sans-serif;
	-webkit-font-smoothing: subpixel-antialiased;
}
.xPanel {
	overflow: hidden;
	position: relative;
}
.EditorHint {
	position: absolute;
	border: 1px solid #999;
	color: #999;
	border-radius: 3px;
	right: 15px;
	top: 10px;
	padding: 3px;
	font-size: 11px;
	z-index: 99;
	background-color: white;
}


.split {
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			  box-sizing: border-box;

	overflow-y: auto;
	overflow-x: hidden;
 }

 .content {
	border: 1px solid #C0C0C0;
	box-shadow: inset 0 1px 2px #e4e4e4;
	background-color: #fff;
 }

 .gutter {
	background-color: transparent;

	background-repeat: no-repeat;
	background-position: 50%;
 }

 .gutter.gutter-horizontal {
	cursor: col-resize;
	background-image: url('../grips/vertical.png');
 }

 .gutter.gutter-vertical {
	cursor: row-resize;
	background-image: url('../grips/horizontal.png');
 }

 .split.split-horizontal, .gutter.gutter-horizontal {
	height: 100%;
	float: left;
 }

.editbox {
	height: 100%;
	width: 100%;
	display: inline-block;
	border: 0px;
}
.iframebox {
	height: 100%;
	width: 100%;
	display: inline-block;
	border: 0px;
}
.CodeMirror-focused .cm-matchhighlight {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
	background-position: bottom;
	background-repeat: repeat-x;
}

.propheaderrow {
	border-bottom: 1px solid #ccc;
	background-color: #ddd;
	font-weight: bold;
	padding:3px;
	padding-left: 8px;
}

.proprow {
	border-top: 1px solid #ccc;
	padding:3px;
	padding-left: 8px;
}

.proprow:hover {
	background-color: #ccc;
}

.proptype {
	width:100px;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
}

.propname {
	width:200px;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
}

.propvalue-number {
	cursor: pointer;
	width: 50px;
	text-align: right;
	margin-right: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
}

.propvalue-color {
	cursor: pointer;
	width: 200px;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
}


.propvalue-text {
	cursor: pointer;
	width: 200px;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
}



input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;

    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;

    /*required for proper track sizing in FF*/
    width: 150px;
	 display: inline-block;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}




/*** HISTORY CONTROLS CSS ***/
/* control holder */
.history_control{
	color:#ccc;
	z-index:5;
	padding-left: 10px;
	/*width:560px;*/
	/*display:none;*/
}

.history_control .history_btnPlay {
    box-sizing: border-box;
	float:left;
	width:34px;
	height:30px;
	padding:5px;
	background: rgba(0,0,0,0.5);
	cursor:pointer;
	border-radius: 6px 0 0 6px;
	border: 1px solid rgba(0,0,0,0.7);
	box-shadow: inset 0 0 1px rgba(255,255,255,0.5);
}

.history_control .history_icon-play{
	background:url(vp_sprite.png) no-repeat -11px 0;
	width: 6px;
	height: 9px;
	display: block;
	margin: 4px 0 0 8px;
}

.history_control .history_icon-pause{
	background:url(vp_sprite.png) no-repeat -34px -1px;
	width: 8px;
	height: 9px;
	display: block;
	margin: 4px 0 0 8px;
}

.history_control .history_selected{
	font-size:15px;
	color:#ccc;
}

.history_control .history_sound{
    box-sizing: border-box;
	width: 30px;
	height: 30px;
	float:left;
	background: rgba(0,0,0,0.5);
	border: 1px solid rgba(0,0,0,0.7);
	border-left: none;
	box-shadow: inset 0 0 1px rgba(255,255,255,0.5);
	cursor: pointer;
}

.history_control .history_icon-sound {
	background:url(vp_sprite.png) no-repeat -19px 0;
	width: 13px;
	height: 10px;
	display: block;
	margin: 8px 0 0 8px;
}

.history_control .history_btnFS{
    box-sizing: border-box;
	width: 30px;
	height: 30px;
	border-radius: 0 6px 6px 0;
	float:left;
	background: rgba(0,0,0,0.5);
	border: 1px solid rgba(0,0,0,0.7);
	border-left: none;
	box-shadow: inset 0 0 1px rgba(255,255,255,0.5);
}

.history_control .history_icon-fullscreen {
	background:url(vp_sprite.png) no-repeat 0 0;
	width: 10px;
	height: 10px;
	display: block;
	margin: 8px 0 0 9px;
}

/* PROGRESS BAR CSS */
/* Progress bar */
.history_progress-bar {
    box-sizing: border-box;
	height: 30px;
	padding: 10px;
	background: rgba(0,0,0,0.6);
	border: 1px solid rgba(0,0,0,0.7);
	border-left: none;
	box-shadow: inset 0 0 1px rgba(255,255,255,0.5);
	float:left;

}

.history_progress {
	width:500px;
	height:7px;
	position:relative;
	cursor:pointer;
	background: rgba(0,0,0,0.4); /* fallback */
	box-shadow: 0 1px 0 rgba(255,255,255,0.1), inset 0 1px 1px rgba(0,0,0,1);
	border-radius:10px;
}

.history_progress span {
	height:100%;
	position:absolute;
	top:0;
	left:0;
	display:block;
	border-radius:10px;
}

.history_timeBar{
	z-index:10;
	width:0;
	background: -webkit-linear-gradient(top, rgba(107,204,226,1) 0%,rgba(29,163,208,1) 100%);
	box-shadow: 0 0 7px rgba(107,204,226,.5);
}

.history_bufferBar{
	z-index:5;
	width:0;
	background: rgba(255,255,255,0.2);
}
