html, body {
	height: 100%;
	overflow: hidden;
	background: #f3f5f6;
	-webkit-font-smoothing: subpixel-antialiased;
}
.xPanel {
	overflow: hidden;
	position: relative;
}
.EditorHint {
	position: absolute;
	border: 1px solid #999;
	color: #999;
	border-radius: 3px;
	right: 10px;
	top: 10px;
	padding: 3px;
	font-size: 11px;
	z-index: 99;
	background-color: white;
}


.split {
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			  box-sizing: border-box;

	overflow-y: auto;
	overflow-x: hidden;
 }

 .content {
	border: 1px solid #C0C0C0;
	box-shadow: inset 0 1px 2px #e4e4e4;
	background-color: #fff;
 }

 .gutter {
	background-color: transparent;

	background-repeat: no-repeat;
	background-position: 50%;
 }

 .gutter.gutter-horizontal {
	cursor: col-resize;
	background-image: url('../grips/vertical.png');
 }

 .gutter.gutter-vertical {
	cursor: row-resize;
	background-image: url('../grips/horizontal.png');
 }

 .split.split-horizontal, .gutter.gutter-horizontal {
	height: 100%;
	float: left;
 }

.editbox {
	height: 100%;
	width: 100%;
	display: inline-block;
	border: 0px;
}
.iframebox {
	height: 100%;
	width: 100%;
	display: inline-block;
	border: 0px;
}
.CodeMirror-focused .cm-matchhighlight {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
	background-position: bottom;
	background-repeat: repeat-x;
}
